.page-card,
.login-details,
.account-main {

  // /* component-form */
  .field__input,
  .select__select,
  .field input,
  .field textarea,
  select {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-white);
    border-radius: 4px;
    color: var(--color-black);
    font-size: 16px;
    width: 100%;
    border: 1px solid var(--color-blue-dark);
    height: 45px;
    box-sizing: border-box;

    &:not(:placeholder-shown) {
      background-color: var(--color-white);
    }
  }

  .field textarea {
    height: initial;
  }

  .field__input:focus,
  .field textarea:focus,
  .select__select:focus,
  .field input:focus,
  select:focus,
  .localization-form__select:focus {
    border: 1px solid var(--color-blue-dark);
    outline: transparent;
  }

  .text-area,
  .select {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  // /* Field */

  .field {
    position: relative;
    width: 100%;
    display: flex;
    color: var(--color-black);
  }

  .customer .field {
    display: block;
  }

  .field--with-error {
    flex-wrap: wrap;
  }

  .field__input,
  .field textarea,
  .field input {
    flex-grow: 1;
    text-align: left;
    padding: 20px 15px;
  }

  .from_Input:visited {
    border: none;
    outline: none;
  }

  .field__label,
  .field label {
    font-size: 16px;
    left: 17px;
    top: 6px;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top var(--duration-short) ease,
      font-size var(--duration-short) ease;
    color: rgba(var(--color-black), 0.75);
    line-height: 1.5;
  }

  .field__input:focus~.field__label,
  .field textarea:focus~label,
  .field textarea:not(:placeholder-shown)~label,
  .field textarea:-webkit-autofill~label .field__input:not(:placeholder-shown)~.field__label,
  .field__input:-webkit-autofill~.field__label,
  .field input:focus~label,
  .field input:not(:placeholder-shown)~label,
  .field input:-webkit-autofill~label {
    font-size: 10px;
    top: 0.6em;
    letter-spacing: 0.4px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
    -webkit-text-fill-color: var(--color-black);
  }

  .field__input:focus,
  .field__input:not(:placeholder-shown),
  .field__input:-webkit-autofill,
  .field input:focus,
  .field input:not(:placeholder-shown),
  .field input:-webkit-autofill {
    padding: 22px 15px 8px;
  }

  .field__input::-webkit-search-cancel-button,
  .field input::-webkit-search-cancel-button {
    display: none;
  }

  .field__input::placeholder,
  .field input::placeholder,
  .field textarea::placeholder {
    opacity: 0;
  }

  /* Select */

  .select .icon-caret,
  select+svg {
    height: 6px;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 2px);
    right: 15px;
    transform: rotate(90deg);
  }

  .select__select,
  select {
    cursor: pointer;
    line-height: calc(1 + 0.6 / var(--font-body-scale));
    padding: 0 40px 0 15px;

    option {
      font-size: inherit;
    }
  }
}